@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

/* Blog Posts */
.blog-post h1 {
  font-size: x-large;
  font-weight: 700;
  margin-top: 30px;
  color: #7551FF;
}
.blog-post h2 {
  font-size: large;
  margin-top: 20px;
}
.blog-post strong {
  color: #9277fe;
}

/* MiniCalendar component css - REMOVE FROM GLOBAL SCOPE */
/* LIGHT MODE + GENERAL */

.react-calendar {
  border: unset;
  /* background-color: transparent; */
  font-family: "DM Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px 0px, rgba(0, 0, 0, 0.4) 0px 15px 40px 0px;
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation {
  align-items: center;
  padding-left: 30px;
}
/* abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: unset;
  text-decoration: unset;
  -webkit-text-decoration: unset;
  -webkit-text-decoration: unset;
  text-decoration: unset !important;
} */
.react-calendar__navigation__prev-button {
  background-color: #4318ff !important;
  border-radius: 10px;
  min-width: 34px !important;
  height: 34px !important;
  color: white;
}
.react-calendar__navigation__next-button {
  background-color: #4318ff !important;
  border-radius: 10px;
  min-width: 34px !important;
  width: 34px !important;
  height: 34px !important;
  color: white;
}
.react-calendar__navigation__label {
  font-weight: 700 !important;
  font-size: 18px;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
  background-color: unset !important;
  border-radius: 10px;
}
.react-calendar__tile {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  height: 34px !important;
  color: #1b2559;
}
.react-calendar__month-view__weekdays {
  background-color: #f4f7fe;
  border-radius: 10px;
  margin-bottom: 6px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1em;
  font-size: .75em;
}
.react-calendar__month-view__weekdays__weekday {
  flex: 0 0 14.2857%;
  overflow: hidden;
  padding: 0.5em;
}
.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #f4f7fe;
  border-radius: 10px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #b0bbd5;
}
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4318ff;
  border-radius: 10px;
  color: white;
}
.react-calendar__tile--range,
.react-calendar__tile--range:enabled:hover,
.react-calendar__tile--range:enabled:focus {
  background: #f4f7fe;
  color: #4318ff;
  border-radius: 0px;
}
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeStart:enabled:hover,
.react-calendar__tile--rangeStart:enabled:focus {
  background: #4318ff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}
.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeEnd:enabled:focus {
  background: #4318ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

/* DARK MODE */

body.chakra-ui-dark .react-calendar {
  border-radius: 30px;
}
body.chakra-ui-dark .react-calendar__navigation__prev-button {
  background-color: #7551ff !important;
}
body.chakra-ui-dark .react-calendar__navigation__next-button {
  background-color: #7551ff !important;
  color: white;
}
body.chakra-ui-dark .react-calendar__tile {
  color: white;
}
body.chakra-ui-dark .react-calendar__tile:enabled:hover,
body.chakra-ui-dark .react-calendar__tile:enabled:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
body.chakra-ui-dark .react-calendar__month-view__weekdays {
  margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: .75em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
body.chakra-ui-dark .react-calendar__month-view__weekdays__weekday {
  flex: 0 0 14.2857%;
  overflow: hidden;
  padding: 0.5em;
}
body.chakra-ui-dark .react-calendar__tile--now,
body.chakra-ui-dark .react-calendar__tile--now:enabled:hover,
body.chakra-ui-dark .react-calendar__tile--now:enabled:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
body.chakra-ui-dark .react-calendar__month-view__days__day--neighboringMonth {
  color: #b0bbd5;
}
body.chakra-ui-dark .react-calendar__tile--active,
body.chakra-ui-dark .react-calendar__tile--active:enabled:hover,
body.chakra-ui-dark .react-calendar__tile--active:enabled:focus {
  background: #7551ff;
  color: white;
}
body.chakra-ui-dark .react-calendar__tile--range,
body.chakra-ui-dark .react-calendar__tile--range:enabled:hover,
body.chakra-ui-dark .react-calendar__tile--range:enabled:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #7551ff;
}
body.chakra-ui-dark .react-calendar__tile--rangeStart,
body.chakra-ui-dark .react-calendar__tile--rangeStart:enabled:hover,
body.chakra-ui-dark .react-calendar__tile--rangeStart:enabled:focus {
  background: #7551ff;
  color: white;
}
body.chakra-ui-dark .react-calendar__tile--rangeEnd,
body.chakra-ui-dark .react-calendar__tile--rangeEnd:enabled:hover,
body.chakra-ui-dark .react-calendar__tile--rangeEnd:enabled:focus {
  background: #7551ff;
  color: white;
}

/* DateTime Calendar - Light Mode */

.react-date-picker {
  display: inline-flex;
  position: relative;
}
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
}
.react-date-picker__inputGroup {
  min-width: calc(4px + (4px * 3) +  0.54em * 6  +  0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
}
.react-date-picker__inputGroup input {
  color: #1B2559;
}
.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
  color:#7551ff;
}
.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-date-picker__inputGroup__leadingZero{
  color:white;
}
.react-date-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist;
  color:white;
}
.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-date-picker__button:enabled {
  cursor: pointer;
}
.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: white;
}
.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #7551ff;
}
.react-date-picker__button svg {
  display: inherit;
  stroke: white;
}
.react-date-picker__calendar,
.react-date-picker__clock {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.react-date-picker__calendar--closed,
.react-date-picker__clock--closed {
  display: none;
}
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
}
.react-date-picker__calendar .react-calendar {
  border-width: thin;
  padding: 20px;
  background-color:#FAFCFE;
  border-radius: 20px;
}
/* .react-date-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
} */

/* DateTime Calendar - Dark Mode */

body.chakra-ui-dark .react-date-picker {
  display: inline-flex;
  position: relative;
}
body.chakra-ui-dark .react-date-picker,
body.chakra-ui-dark .react-date-picker *,
body.chakra-ui-dark .react-date-picker *:before,
body.chakra-ui-dark .react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.chakra-ui-dark .react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
body.chakra-ui-dark .react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
}
body.chakra-ui-dark .react-date-picker__inputGroup {
  min-width: calc(4px + (4px * 3) +  0.54em * 6  +  0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
}
body.chakra-ui-dark .react-date-picker__inputGroup input {
  color:white;
}
body.chakra-ui-dark .react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
body.chakra-ui-dark .react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
body.chakra-ui-dark .react-date-picker__inputGroup__input::-webkit-outer-spin-button,
body.chakra-ui-dark .react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body.chakra-ui-dark .react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
body.chakra-ui-dark .react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
body.chakra-ui-dark .react-date-picker__inputGroup__leadingZero{
  color:white;
}
body.chakra-ui-dark .react-date-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist;
  color:white;
}
body.chakra-ui-dark .react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
  stroke: white;
}
body.chakra-ui-dark .react-date-picker__button:enabled {
  cursor: pointer;
}
body.chakra-ui-dark .react-date-picker__button:enabled:hover .react-date-picker__button__icon,
body.chakra-ui-dark .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: white;
}
body.chakra-ui-dark .react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}
body.chakra-ui-dark .react-date-picker__button svg {
  display: inherit;
  stroke: white;
}
body.chakra-ui-dark .react-date-picker__calendar,
body.chakra-ui-dark .react-date-picker__clock {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
body.chakra-ui-dark .react-date-picker__calendar--closed,
body.chakra-ui-dark .react-date-picker__clock--closed {
  display: none;
}
body.chakra-ui-dark .react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
}
body.chakra-ui-dark .react-date-picker__calendar .react-calendar {
  border-width: thin;
  background-color:#1b2559;
  border-radius: 20px;
}
/* body.chakra-ui-dark .react-date-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: #1b2559;
  border: thin solid #a0a096;
} */

/* --------------------------------------------------------------- */

/* Starting Clock.css */

.react-time-picker {
  display: inline-flex;
  position: relative;
}
.react-time-picker,
.react-time-picker *,
.react-time-picker *:before,
.react-time-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-time-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;
  margin-top: 20px;
  border-radius: 20px;
}
.react-time-picker__inputGroup {
  min-width: calc((4px * 3) +  0.54em * 6  +  0.217em * 2);
  flex-grow: 1;
  padding: 10px 2px;
  box-sizing: content-box;
}
.react-time-picker__inputGroup__divider {
  padding: 1px 10px;
  white-space: pre;
}
.react-time-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 2px;
  color: #f0f0f0;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.chakra-ui-light .react-time-picker__inputGroup__input {
  color: #101010;
}
.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-time-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-time-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-time-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist;
}
.react-time-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-time-picker__button:enabled {
  cursor: pointer;
}
.react-time-picker__button:enabled:hover .react-time-picker__button__icon,
.react-time-picker__button:enabled:focus .react-time-picker__button__icon {
  stroke: #0078d7;
}
.react-time-picker__button:disabled .react-time-picker__button__icon {
  stroke: #6d6d6d;
}
.react-time-picker__button svg {
  display: inherit;
}
.react-time-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
  z-index: 1;
}
.react-time-picker__clock--closed {
  display: none;
}

/* --------------------------------------------------------------------- */
/* Date Range Picker */

.react-daterange-picker {
  display: inline-flex;
  position: relative;
}

.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker *:before,
.react-daterange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  /* border: thin solid gray; */
}

.react-daterange-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-daterange-picker__inputGroup__divider,
.react-daterange-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-daterange-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-daterange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-daterange-picker__button:enabled {
  cursor: pointer;
}

.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
  stroke: #0078d7;
}

.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}

.react-daterange-picker__button svg {
  display: inherit;
}

.react-daterange-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 1;
}

.react-daterange-picker__calendar--closed {
  display: none;
}

.react-daterange-picker__calendar .react-calendar {
  border-width: thin;
}

.react-daterange-picker__calendar {
  background-color: white;
}

.react-calendar__tile--active {
  background: #d7d7d7;
}

.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd {
  background-color: #4318ff;
}

.react-calendar--selectRange, .react-daterange-picker__calendar {
  border-width: thin;
  padding: 20px;
  background-color: #FAFCFE;
  border-radius: 20px;
}

.react-daterange-picker__range-divider{
  margin-left: 20px;
  margin-right: 20px;
}

body.chakra-ui-dark .react-calendar--selectRange {
  background-color: #1a202c;
}

.react-daterange-picker__calendar .react-calendar{
    box-shadow: none;
}

body.chakra-ui-dark .react-daterange-picker__calendar{
    background-color: #1a202c;
}

body.chakra-ui-dark .react-daterange-picker__button svg {
  stroke: white;
}


/* --------------------------------------------------------------------- */
/* Full Calendar */

.fc-event {
  background-color: #7551FF;
}
.fc-event.info {
  background-color: green;
}
body.chakra-ui-dark .fc-event {
  background-color: rgb(159, 122, 234);
}

.fc-event-title {
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}
body.chakra-ui-dark .fc-event-title {
  color: black;
}

.fc-event-time {
  color: white;
}
body.chakra-ui-dark .fc-event-time {
  color: black;
}

.fc-event-time, .fc-event-title {
  padding: 0 1px;
  white-space: normal;
  }